<!-- image -->
<figure {{ with .Get "class" }}class="{{.}}"{{ end }}>
    <style scoped>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    {{ with .Get "link"}}<a href="{{.}}">{{ end }}
        <img src="{{ .Get "src" }}" {{ if or (.Get "alt") (.Get "caption") }}alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"{{ end }} class="center" />
    {{ if .Get "link"}}</a>{{ end }}
    {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr")}}
    <figcaption>
        <p>
            {{ .Get "caption" }}
        </p>
    </figcaption>
    {{ end }}
</figure>
<!-- image -->